# =============================================================================
# API KEYS
# =============================================================================

# Google AI Studio
# Utilizada para generar embeddings.
GOOGLE_API_KEY=your_google_api-key

# DeepSeek
# Utilizada por el modelo de lenguaje (LLM).
DEEPSEEK_API_KEY=your_deepseek_api_key